body {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#gameContainer {
    position: relative;
    width: 100vh;
    height: 100vh;
}

#homeScreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#start {
    border-radius: 8px;
    padding: 5px
}

#board {
    display: none;

}

#board, #homeScreen{
    background-image: url("./sources/flappybirdbg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 0;
    left: 0;
    position: fixed;
}

