body {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#gameContainer {
    position: relative;
    width: 360px;
    height: 640px;
}

#homeScreen {
    width: 360px;
    height: 640px;
    background-image: url("./sources/flappybirdbg.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start {
    border-radius: 8px;
    padding: 5px
}

#board {
    display: none;
    background-image: url("./sources/flappybirdbg.png");
}